<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, header, nav, mainContent, footer)">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/dist/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/bootstrap.min.js}"></script>
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body class="container">
    <header th:insert="${header} ?: ~{}">
    </header>
    <section>
        <nav th:insert="${nav} ?: ~{}">
        </nav>

        <article th:insert="${mainContent} ?: ~{}">
        </article>
    </section>

    <footer th:insert="${footer} ?: ~{}">
    </footer>
</body>
</html>