<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
    <title>Checklist Create</title>
</head>

<body>
    <div id="home-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    </div>
    <div id="home-main-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pl-4">
                <li class="breadcrumb-item pl-1"><a href="#">Checklist</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create checklist</li>
            </ol>
        </nav>

        <section>
            <div>
                <div th:if="${createdChecklistMessage != null}" class=" alert alert-success text-center">
                    [[${createdChecklistMessage}]]
                </div>
            </div>
            <form th:action="@{/checklist/save}" method="POST">
                <div class="row mt-3">
                    <div class="col col-5 row">
                        <label class="col col-5 h5 ml-3 text-right mt-1">Checklist Name:</label>
                        <input type="text" class="form-control col col-6 font-weight-bold" th:value ="${checklist.name}" name ="name" autofocus required />
                    </div>
                    <div class="col col-6 row">
                        <label class="col col-5 h5 text-right mt-1">Description:</label>
                        <input type="text" class="form-control col col-6 font-weight-bold" th:value ="${checklist.description}" name ="description" required />
                    </div>
                    <div class="col mr-3">
                        <button class="btn btn-danger float-right" type="reset">Reset</button>
                    </div>
                </div>
                <div class="col col-12 mt-2">
                    <a class="btn btn-success float-right" th:href="@{/checklist/}"><i class="fas fa-undo-alt"></i></a>
                </div>

                <table id="content" style="width: 100%;" class="mt-4 mb-4">
                    <tr>
                        <td><input class="form-control col-11 my-2 float-right font-weight-bold" type="text"  name="checklistItems[0].nameItem" placeholder="Input the item of checklist" /></td>
                        <td><i class="btn btn-danger fas fa-trash-alt float-right mt-2 mr-3" onclick="deleteRow(this)"></i></td>
                    </tr>
                </table>

                <div class="text-center mb-5 d-flex flex-row justify-content-center">
                    <div class="col text-right">
                        <button class="btn btn-success px-4" type="submit">Save</button>
                    </div>

                    <div class="col">
                        <button class="btn btn-success float-right " type="button" onclick="add_child()">
                            <i class="fas fa-plus"></i>
                        </button>

                    </div>

                </div>
            </form>
        </section>
    </div>

    <div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    </div>

    <th:block id="home-static-resources">
        <link rel="stylesheet" th:href="@{/css/checklist_create.css}">
        <script type="text/javascript" th:src="@{/js/checklist_create.js}"></script>
    </th:block>

</body>
</html>